!!! 5
html(lang="en")
  head

    block title
      title 4 thot

    block scripts

    block style

      // Twitter bootstrap
      script(src="/views/jquery-latest.js")
      link(href="/views/bootstrap.min.css",rel="stylesheet")
      script(src="/views/bootstrap.min.js")
 
  body(style="margin:3em")

    center 
      h1
        span(style='color:green') 4
        span(style='color:red') -
        span(style='color:blue') thot
      p
        a(href='/') All thots
        x!=  '&nbsp; &nbsp; &nbsp; &nbsp;'
        a(href='/new') Add
        x!=  '&nbsp; &nbsp; &nbsp; &nbsp;'
        a(href='/find') Find

    hr

    block content
      h1 no block content available
