extends layout

block title
  title Edit #{path}

block content
  h1 Edit: #{path}

  p Return to 
    a(href='/dir') Directory

  form(method="post", action="/save")
    p Path:
      input(name='path', type='text', value='#{path}') 
    p
      style textarea{height:400px; width:90%}
      textarea(name='text',type='text',rows="4",cols="50") #{text}
    p
      button(type="submit", value="Save") Save
      button(type="cancel", value="Cancel",  name="cancel") Cancel
