!!! 5
html(lang="en")
  head

    block title
      title My Notes

    block scripts

    block style

      // Twitter bootstrap
      script(src="/views/jquery-latest.js")
      link(href="/views/bootstrap.min.css",rel="stylesheet")
      script(src="/views/bootstrap.min.js")
 
  body(style="margin:3em")
    img(src='/views/Hammer.png')

    block content
      h1 no block content available
