!!! 5
html(ng-app='hammer')
  head

    block title
      title Node Hammer

    block scripts

    block style

      // Bootstrap CSS
      //link(href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css',rel="stylesheet")
      link(href="/views/css/bootstrap-combined.min.css",rel="stylesheet")

      // Angular JS
      //script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js')
      script(src='/views/angular.js')

      // Bootstrap JS
      //script(src='http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.4.0.js')
      script(src="/views/ui-bootstrap-tpls-0.4.0.js")

      // Application support
      link(href='/views/hammer.css',rel='stylesheet')
      script(src='/views/hammer.js')
      
  body

    h1  Node Hammer
    block content
      h1 no block content available
