!!! 5
html(lang="en",ng-app)
  head

    block title
      title My Notes

    block scripts

    block style

      // Twitter bootstrap
      link(href="/views/bootstrap.min.css",rel="stylesheet")
      script(src="/views/bootstrap.min.js")
      script(src="/views/angular.min.js")
 
  body(style="margin:3em")
    h1 My Notes
    block content
      h1 no block content available
