extends layout

block title
  title List

block content
    p 
      a(href='/new') Add
    hr  
    h1 List
    ul
      - for (var id in files)
        - var f = files[id]
          li
            a(href='/#{f}') #{f}
        
